.lifePoints {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.duelist {
    flex-grow: 1;
}

.optionButton {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    color: transparent;
}

.calcWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.calc {
   display: grid;
   grid-template-columns: repeat(4, 50px);
   gap: 0px;
   padding: 20px;
}

.calc button {
    padding: 15px;
    font-size: 18px;
    /* border: 1px; */
    border-radius: 8px;
    background-color: gray;
    cursor: pointer;
    /* transition: background-color 0.2s; */
}

.calc .equalSign {
    grid-column: span 4;
}

#resetButton {
  background-image: url('../images/reset.png');
}

#undoButton {
    background-image: url('../images/undo.png');
}

#exitButton {
    width: 30px;
    height: 30px;
    background-image: url('../images/exit.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    color: transparent; /* this should be for the text only */
} /* exitButton */

/* only use the period with class and the # with unique id's */